form{
        background-color: white;
        color: #494949;
        font-size: 14px;
        padding: 20px;
        width: 100%;
        font-family: 'Red Hat Display', sans-serif;
        margin: 60px;
}

label{
    display:inline-block;
}

.gif{
    margin-left: 100px;
    margin-top: 10px;
}

.margin{
    margin-left: -60px;
    margin-top: -30px;
    font-weight: bold;
}

.margin2{
    margin-left: 0px;
    font-weight: bold;
    margin-top: 20px;
}

.margin3{
    margin-left: -900px;
    font-weight: bold;
    margin-top: 60px;
}

input{
    border: solid 1px #B0A9A9;
    outline: none;
    padding: 10px;
    font-family: 'Red Hat Display', sans-serif;
}

input:focus{
        border-color: #122B67;
}

.inputCheckbox{
    -ms-transform: scale(1.4); /* IE */
    -moz-transform: scale(1.4); /* FF */
    -webkit-transform: scale(1.4); /* Safari y Chrome */
    -o-transform: scale(1.4); /* Opera */
}

.field{
        width: 280px;
}

.field2{
        width: 40px;
}

.subDir, .subDirRemote{
    width: 150px;
    display:inline-block;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subDirpath{
    width: 200px;
    display:inline-block;
    border: 0;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}

.subDirpath1{
    width: 200px;
    border: 0;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}

.center-content{
        text-align: center;
}


.btn{
    border-radius: 50px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
    color: white;
    background-color: #122B67;
    margin-top: 30px;
}
.btn, .btn2:hover{
	background-color: #F2771A;	 
}
.btn, .btn2:active{
	background-color: #122B67;
}

.btn2{
    border-radius: 50px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    /*text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3); */
    color: white;
    background-color: #122B67;
    margin-top: 0px;
}


.text-blue{
    margin-left: 20px;
    font-style:italic;
    color: #122B67;
    font-family: 'Red Hat Display', sans-serif;
}

.title{
    margin-left: 20px;
    font-family: 'Red Hat Display', sans-serif;
}

.container-form{
    display:none;
}