<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
           
           <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
           
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
