{% extends 'base.html.twig' %}

{% block title %}DTS SFTP{% endblock %}

{% block body %}
    
<img src="{{ asset('DTSlogo.png', 'logo') }}"  width="250px"/>
<h4 class="title">SFTP Client Post Installation Settings</h4>
<h4 class="title">You should have Windows 8 or higher to ensure SFTP works.</h4> 
<h4 class="text-blue" >Please complete fields bellow</h4>
    <form action="{{path('generate_script')}}" method="post" onsubmit="return validacion()">  
        <p class="margin">Credentials</p>
            <p>User:</p>
            <input class="field" type="text" id="user" name="user" minlength="3" maxlength="20" size="15" required>
                
            <p>Password:</p>
            <input class="field" type="text" id="password" name="password" minlength="3" maxlength="20" size="15" required>
            <button type="button" id="btnConnect" name="button" class="btn2" >Connect</button>
            <div id="gif" class="gif"></div>

            <input class="field" type="hidden" id="jsonTo" name="jsonTo">
            <input class="field" type="hidden" id="jsonFrom" name="jsonFrom">
        
        <div id="container-form" class="container-form">    
            <p class="margin2">Local SFTP directories</p>
                <p>SFTP client download-to directory</p>
                <input class="field" type="text" id="fromdts" name="fromdts" value="{{fromDTS}}" readonly>

                <p>SFTP client upload-from directory</p>
                <input class="field" type="text" id="todts" name="todts" value="{{toDTS}}" readonly>

                <p>SFTP client archive directory</p>
                <input class="field" type="text" id="backup" name="backup" value="{{backup}}" readonly>

                <p>SFTP client temporary directory</p>
                <input class="field" type="text" id="temp" name="temp" value="{{temp}}" readonly>
                <input class="field" type="hidden" id="pathlocal" name="pathlocal" value="{{path}}">
                <input class="field" type="hidden" id="pathInstaller" name="pathInstaller" value="{{pathInstaller}}">
               <br><br>

            <label class="margin2">Upload subdirectories?</label>
            <input class="inputCheckbox" type="checkbox" id="subDirs" name="subDirs" onclick="showInputs('local');">
           

            <div id="divqty" style="display: none">

                <label>Specify numbers of sub-directories:</label>
                <input type="text" class="field2" id="qtySubdirs" name="qtySubdirs" maxlength="2" size="1" onkeyup="CreateInputs('local')">

            </div>

            <div id="LocalSubDir" style="width:900px;">
                <div id="localFrom0" style="width:450px; float:left;">
                    <div id="localFromdir" style="width:250px; float:left;"></div>
                    <div id="localFrom" style="width:200px; float:right;"></div>
                </div>
                <div id="remoteTo0" style="width:450px; float:left;">
                    <div id="remoteTodir" style="width:250px; float:left;"></div>
                    <div id="remoteTo" style="width:200px; float:right;"></div>
                </div>
            </div>
        
            <br><br>
        
            <div id="label">
            <label class="margin2" >Download sub-directories?</label>
            <input class="inputCheckbox" type="checkbox" id="subDirsRemote" name="subDirsRemote" onclick="showInputs('remote');">
            </div>
            <div id="divqtyremote" style="display: none">

              <label>Specify numbers of sub-directories aqui</label>
              <input type="text" class="field2" id="qtySubdirsRemote" name="qtySubdirsRemote" maxlength="2" size="1" onkeyup="CreateInputs('remote')">

            </div>

            <div id="RemoteSubDir" style="width:900px;">
                <div id="remoteFrom0" style="width:450px; float:left;">
                    <div id="remoteFromdir" style="width:250px; float:left;"></div>
                    <div id="remoteFrom" style="width:200px; float:right;"></div>
                </div>
                <div id="remoteTo0" style="width:450px; float:left;">
                    <div id="localTodir" style="width:250px; float:left;"></div>
                    <div id="localTo" style="width:200px; float:right;"></div>
                </div>
            </div>
            
            <div id="label2">
               <button type="submit" class="btn" id="btnDownload">Script Download</button>
            </div>
        </div>
    </form>

{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src={{asset('js/validations.js')}}></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    
    <script>
    $(function () {
        $('#btnConnect').click(function () {
            
            if( $('#user').val() == ""  || /^\s+$/.test($('#user').val()) ) {
                alert ("User is required");
                return false;
            }
            if( $('#password').val() == "" || /^\s+$/.test($('#password').val())) {
                alert ("Password is required.")
                return false;
            }
            if ($('#user').val() !== '' && $('#password').val() !== '') {
                loadFolder($('#user').val(),$('#password').val());
            }
        });        
    });

    function loadFolder(user, password){

       $.ajax({
            method: 'POST',
            url: Routing.generate('loadfolder', {user: user, password: password}),
            beforeSend: function () {
                $("#container-form").css({'display':'none'});
                $("#gif").css({'display':'block'}); 
                $('#gif').html($('#gif').html() + '<img src="{{ asset('images/ajax-loader.gif') }}" alt="Conecting...">');
            },
            success: function (result) {
                $("#container-form").css({'display':'block'});
                $('#gif').html("");
                $("#gif").css({'display':'none'});
                $.each(result, function(i, item) {
                     $('#json'+i).val(item);
                });
                $('input[type=checkbox]').prop('checked',false);
            },

            error : function(xhr, status) {
                $('#gif').html("");
                $("#container-form").css({'display':'none'});
                $("#gif").css({'display':'none'});
                alert('Cannot login into server, verify credentials');
            },

        });
    }
    </script>
 
{% endblock %}